# OpenSpades config file
#

cg_AimDownSightSoundGain: 1
cg_BuildDelayInSec: 0.2
cg_CurrentColorBlue: 0
cg_CurrentColorGreen: 223
cg_CurrentColorRed: 0
cg_DemoProgressBarOnlyInUi: 0
cg_DrawDragCursorPos: 1
cg_FlySpeedSneak: 0.5
cg_FlySpeedSprint: 10
cg_FlySpeedWalk: 2
cg_KeyProgressUi: MiddleMouseButton
cg_MaxBuildDistance: 1088
cg_PlayerModelsViaWeapon: 1
cg_SkipValue: 15
cg_SpeedChangeValue: 0.2
cg_UIHotKeyLayout: qwerty
cg_alertSounds: 1
cg_alerts: 1
cg_animations: 1
cg_autoFocusSpeed: 0.4
cg_blood: 1
cg_buttonCloseSoundGain: 1
cg_buttonHoverSoundGain: 1
cg_buttonOpenSoundGain: 1
cg_buttonSelectSoundGain: 1
cg_centerMessage: 2
cg_changeTabSoundGain: 1
cg_chatBeep: 1
cg_chatHeight: 20
cg_classicViewWeapon: 0
cg_classicZoom: 0
cg_clearCorpseOnRespawn: 1
cg_compressDemo: 1
cg_corpse: 2
cg_corpseBounce: 1
cg_damageIndicators: 0
cg_deathSoundGain: 1
cg_debugAim: 0
cg_debugCorpse: 0
cg_debugHitTest: 2
cg_debugToolSkinAnchors: 0
cg_demoFileDeleteMaxDays: 7
cg_demoFileDeleteMaxFiles: 20
cg_demoFileDeleteRule: 2
cg_demoRecord: 0
cg_depthOfFieldAmount: 1
cg_distCalculation: 1
cg_drawBlockCursorMode: 0
cg_ejectBrass: 0
cg_enemyCaptureSoundGain: 1
cg_environmentalAudio: 1
cg_fallingBlocks: 1
cg_fallingBlocksBounce: 1
cg_flashlightSoundGain: 1
cg_fov: 68
cg_glowBlocks: 0
cg_hideArms: 0
cg_hideBody: 0
cg_hideFirstPersonModel: 0
cg_hideHud: 0
cg_hitAnalyze: 1
cg_hitFeedbackSoundGain: 0.2
cg_hitIndicator: 1
cg_hitMarkSoundGain: 0.5
cg_hitTestKey: F8
cg_hitTestSize: 128
cg_hitTestTransparency: 0.8
cg_holdAimDownSight: 0
cg_holdMapZoom: 0
cg_hudPlayerCount: 0
cg_hudTransparency: 0.8
cg_hurtScreenEffect: 1
cg_ignoreChatMessages: 0
cg_ignorePrivateMessages: 0
cg_intelPickUpSoundGain: 1
cg_introSoundGain: 1
cg_invertMouseY: 0
cg_keyAltAttack: RightMouseButton
cg_keyAttack: LeftMouseButton
cg_keyAutoFocus: MiddleMouseButton
cg_keyCaptureColor: e
cg_keyChangeMapScale: m
cg_keyChatLog: k
cg_keyConsole: F1
cg_keyCrouch: Control
cg_keyEditColor: G
cg_keyFlashlight: f
cg_keyGlobalChat: t
cg_keyJump: Space
cg_keyLastTool: 
cg_keyLimbo: l
cg_keyMapTxt: J
cg_keyMoveBackward: s
cg_keyMoveForward: w
cg_keyMoveLeft: a
cg_keyMoveRight: d
cg_keyNextUps: Keypad 9
cg_keyPaletteDown: Down
cg_keyPaletteInvert: Keypad 1
cg_keyPaletteLeft: Left
cg_keyPaletteMix: Keypad 0
cg_keyPaletteRight: Right
cg_keyPaletteUp: Up
cg_keyPause: Keypad 5
cg_keyPrevUps: Keypad 7
cg_keyReloadWeapon: r
cg_keySaveMap: 8
cg_keyScaleBuildDistance: MiddleMouseButton
cg_keySceneshot: 9
cg_keyScoreboard: Tab
cg_keyScreenshot: 0
cg_keySkipForward: Keypad 6
cg_keySkipRewind: Keypad 4
cg_keySneak: v
cg_keySpeedDown: Keypad 2
cg_keySpeedNormalize: Keypad 1
cg_keySpeedUp: Keypad 8
cg_keySprint: Shift
cg_keyTeamChat: y
cg_keyToggleMapZoom: n
cg_keyToolBlock: 2
cg_keyToolBrush: R
cg_keyToolCopy: C
cg_keyToolGrenade: 4
cg_keyToolMapObject: Z
cg_keyToolMove: X
cg_keyToolPaint: F
cg_keyToolSpade: 1
cg_keyToolWeapon: 3
cg_keyVolumeBall: 4
cg_keyVolumeBox: 3
cg_keyVolumeCylinder: 5
cg_keyVolumeLine: 2
cg_keyVolumeSingle: 1
cg_keyZoomChatLog: h
cg_killDistAnalyze: 1
cg_killFeedImg: 1
cg_killfeedHeight: 15
cg_lastMainMenuScene: 8
cg_lastQuickConnectHost: aos://2859360673:34889
cg_localDryFireSoundGain: 1
cg_localFleshSoundGain: 1
cg_loseSoundGain: 1
cg_manualFocus: 0
cg_mapEditorFeedbackSoundGain: 1
cg_mapSoundGain: 1
cg_mapTxtTabSize: 4
cg_mentionWord: 
cg_minimapCoords: 1
cg_minimapPlayerColor: 0
cg_minimapPlayerIcon: 1
cg_minimapSize: 128
cg_minimapTransparency: 0.8
cg_mouseAccel: 0
cg_mouseExpPower: 1
cg_mouseSensitivity: 1
cg_mouseSensitivityRifle: 1
cg_mouseSensitivitySMG: 1
cg_mouseSensitivityShotgun: 1
cg_muzzleFire: 1
cg_nadePinSoundGain: 1
cg_outlineStrength: 5.000000
cg_outlines: 1
cg_particles: 2
cg_playerName: maker
cg_playerNameIsSet: 1
cg_playerNameX: 0
cg_playerNameY: 0
cg_playerNames: 4
cg_playerStats: 1
cg_playerStatsHeight: 84
cg_playerStatsTransparency: 0.8
cg_pngScope: 0.000000
cg_protocolVersion: 3
cg_raiseToolSoundGain: 1
cg_respawnSoundGain: 1
cg_restockSoundGain: 1
cg_scopeAlpha: 255
cg_scopeColor: 0
cg_scopeColorB: 255
cg_scopeColorG: 0
cg_scopeColorR: 255
cg_scopeDot: 0
cg_scopeDotAlpha: 255
cg_scopeDotColorB: 0
cg_scopeDotColorG: 0
cg_scopeDotColorR: 0
cg_scopeDotThickness: 1
cg_scopeDynamic: 1
cg_scopeDynamicSplitdist: 7
cg_scopeGap: 4
cg_scopeLines: 1
cg_scopeOutline: 1
cg_scopeOutlineAlpha: 255
cg_scopeOutlineColorB: 0
cg_scopeOutlineColorG: 0
cg_scopeOutlineColorR: 0
cg_scopeOutlineRoundedStyle: 0
cg_scopeOutlineThickness: 1
cg_scopeSizeHorizontal: 5
cg_scopeSizeVertical: 5
cg_scopeTStyle: 0
cg_scopeThickness: 1
cg_scoreMessages: 0
cg_screenShotSoundGain: 1
cg_screenshotFormat: 2
cg_serverAlert: 1
cg_serverlistSort: 3
cg_shake: 1
cg_showTeamMateLocation: 1
cg_skipDeadPlayersWhenDead: 0
cg_spadeMissSoundGain: 1
cg_specEsp: 0
cg_specNames: 1
cg_specNoFogMix: 1
cg_specSpeedSneak: 0.3
cg_specSpeedSprint: 3
cg_specSpeedWalk: 1
cg_stats: 1
cg_statsBackground: 1
cg_statsColor: 0
cg_statsTransparency: 1
cg_switchToolByWheel: 1
cg_switchToolSoundGain: 1
cg_target: 1
cg_targetAlpha: 255
cg_targetColor: 0
cg_targetColorB: 255
cg_targetColorG: 255
cg_targetColorR: 255
cg_targetDot: 0
cg_targetDotAlpha: 255
cg_targetDotColorB: 255
cg_targetDotColorG: 255
cg_targetDotColorR: 255
cg_targetDotThickness: 1
cg_targetDynamic: 1
cg_targetDynamicSplitdist: 7
cg_targetGap: 4
cg_targetLines: 1
cg_targetOutline: 0
cg_targetOutlineAlpha: 255
cg_targetOutlineColorB: 0
cg_targetOutlineColorG: 0
cg_targetOutlineColorR: 0
cg_targetOutlineRoundedStyle: 0
cg_targetOutlineThickness: 1
cg_targetSizeHorizontal: 5
cg_targetSizeVertical: 5
cg_targetTStyle: 0
cg_targetThickness: 1
cg_teamCaptureSoundGain: 1
cg_thirdperson: 0
cg_throwNadeSoundGain: 1
cg_tracerLights: 0
cg_tracers: 1
cg_tracersFirstPerson: 1
cg_unicode: 1
cg_valueChangedSoundGain: 
cg_viewWeaponX: 0.000000
cg_viewWeaponY: 0.000000
cg_viewWeaponZ: 0.000000
cg_waterImpact: 1
cg_weapMouseSensitivity: 0
cg_weapZoomedMouseSens: 0
cg_winSoundGain: 1
cg_zoomMapSoundGain: 1
cg_zoomedMouseSensScale: 1
cg_zoomedMouseSensScaleRifle: 1
cg_zoomedMouseSensScaleSMG: 1
cg_zoomedMouseSensScaleShotgun: 1
cl_checkForUpdates: 1
cl_consoleScrollbackLines: 1000
cl_fps: 0
cl_serverListUrl: http://services.buildandshoot.com/serverlist.json
cl_showStartupWindow: 1
core_jpegQuality: 95
core_locale: 
core_numDispatchQueueThreads: auto
n_rgbSpeed: 0.1
n_s: 1
n_x: 1
n_y: 1
n_z: 1
openal: 
r_allowSoftwareRendering: 0
r_blitFramebuffer: 0
r_bloom: 1
r_cameraBlur: 1
r_colorCorrection: 1
r_corpseLineCollision: 0
r_debugTiming: 0
r_debugTimingAverage: 1
r_debugTimingFillGap: 0
r_debugTimingFlush: 0
r_debugTimingGPUTime: 1
r_debugTimingOutputBarScale: 2
r_debugTimingOutputLog: 0
r_debugTimingOutputScreen: 1
r_depthOfField: 0
r_depthOfFieldMaxCoc: 0.01
r_depthPrepass: 0
r_dlights: 1
r_exposureValue: 0
r_fogShadow: 0
r_fullscreen: 0
r_fxaa: 0
r_hdr: 0
r_hdrAutoExposureMax: 0.5
r_hdrAutoExposureMin: -1.5
r_hdrAutoExposureSpeed: 1
r_hdrGamma: 2.2
r_highPrec: 1
r_ignoreGLErrors: 1
r_lens: 0
r_lensFlare: 1
r_lensFlareDynamic: 1
r_mapSoftShadow: 0
r_maxAnisotropy: 8
r_modelShadows: 0
r_multisamples: 0
r_occlusionQuery: 0
r_optimizedVoxelModel: 1
r_physicalLighting: 0
r_radiosity: 0
r_renderer: gl
r_saturation: 1
r_scale: 0.850000
r_scaleFilter: 2
r_shadowMapSize: 32
r_sharpen: 0
r_softParticles: 0
r_sparseShadowMaps: 1
r_srgb: 0
r_srgb2D: 1
r_ssao: 0
r_swNumThreads: 4
r_swStatistics: 0
r_swUndersampling: 0
r_temporalAA: 0
r_videoHeight: 640
r_videoWidth: 1024
r_vsync: 0
r_water: 3
s_alDriver: libopenal.so.1;libopenal.so.0;libopenal.so
s_alErrorFatal: 1
s_alPreciseErrorCheck: 1
s_audioDriver: openal
s_eax: 0
s_gain: 1
s_maxPolyphonics: 64
s_openalDevice: 
s_volume: 0.000000
s_ysrBufferSize: 1024
s_ysrDebug: 0
s_ysrDriver: libysrspades.so
s_ysrNumThreads: 2
vec_disablephys: 0
vec_dotsight: 1
vec_png: 1
vec_sp: 1
